@media only screen and (min-width: 768px) and (max-width: 959px) {

.img-item {
	width: 236px;
	height: 186px;
}

figure {
	margin-bottom: 0;
}

.box-item {
	height: 360px;
}

}

@media only screen and (max-width: 767px) {

/* Header */

.header {
	height: 50px;
	padding-top: 14px;
}

.menu {
	display: block;
	cursor: pointer;
}

.header_menu ul {
	display: none;
}

.showing {
	display: block;
}

/* Intro */

.intro {
	background: url("../img/intro-mobile.png") no-repeat center;
	background-size: cover;
}

/* Portfólio */

.portfolio {
	padding-top: 50px;
}

.portfolio_intro {
	padding-bottom: 25px;
	text-align: center;
}

.jobs-intro {
	float: none;
}

.portfolio_menu {
	text-align: center;
	padding-top: 35px;
}

.portfolio_menu ul li {
	margin: 0 10px;
}

.box-item {
	height: 390px;
	margin-bottom: 30px;
}

figure {
	margin-bottom: 5px;
}

.box-info-line {
	font-size: 13px;
	padding: 7px 20px;
}

.btn-load-more-itens {
	margin: 3px 0 30px 0;
	background: #FCFCFC;
	border: 1px solid #E6EAEA;
	display: inline-block;
}

/* Footer */

footer {
	padding-top: 18px;
	line-height: 15px;
	background: #3F3F3F;
}

}