/* /////////////////////////CURRICULO ///////////////////////////////// */

.apresentacao {
    display: var(--display-flex);
    align-items: center;
    justify-content: space-between;
    line-height: 24px;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 7%;
}

.apresentacao__conteudo {
    width: 100%;
    /* height: 482px; */
    display: var(--display-flex);
    flex-direction: var(--flex-column);
    gap: 10px;
}

.apresentacao__conteudo__curriculo {
    gap: 20px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    line-height: 40px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
}

.apresentacao__links__subtitulo {
    font-weight: 400;    
    font-size: 1.5rem;
}

.apresentacao__divLinks {
    display: var(--display-flex); 
    flex-direction: var(--flex-column);
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.container__curriculo__lista {
    display: var(--display-flex);
    flex-direction: var(--flex-column);
    gap: 30px;
}

.habilidades__container {
    display: var(--display-flex);
    flex-direction: var(--flex-column);
    justify-content: space-around;
    gap: 25px;
}

.descricao__exp__praticaSTI {
    padding-left: 4%;
}

@media (min-width: 834px) {
    .apresentacao__conteudo__titulo {
        margin-top: 4.5em;
    }

    .container__curriculo__lista {
        flex-direction: row;
        gap: 140px;
    }

    .habilidades__container {
        flex-direction: row;
        justify-content: flex-start;
        gap: 200px;
    }
}

@media(min-width: 1040px) {
    .container__curriculo__lista {
        gap: 240px;
    }

    .habilidades__container {
        gap: 300px;
    }

    .apresentacao__conteudo__titulo {
        margin-top: 0;
    }
}