/* ///////////////////////////////// FOOTER //////////////////////////// */

.footer {
    height: 17%;
    display: var(--display-flex);
    justify-content: center;
    align-items: center;
    background-color: var(--terciary-color);
    padding: 1.2em 0;
}

.footer img {
    width: 60%;
    height: 60%;
    /* margin-top: .1em; */
}

.footer img:hover {
    background-color:  var(--secondary-color);
}