/* /////////////////////////////////////// HEADER //////////////////////////////////// */

.header {
    position: absolute;
    width: 100%;
    display: var(--display-flex);
    flex-direction: var(--flex-column);
    justify-content: space-between;
    font-family: var(--font-edu);
    font-size: 1.1em;
    line-height: .8em;
    height: 2.6em;   
    color: var(--white-color);
    background-color: var(--terciary-color);
    padding: 1.2em 0;
    border: 3px solid #000000;
}

.headerInfo {
    display: var(--display-flex);
    flex-direction: var(--flex-column);
    gap: 5px;
    padding-left: 1.2em;
}

.headerMenu {
    display: none;
    flex-direction: var(--flex-column);
    gap: 35px;
    align-items: flex-end;
    /* justify-content: center;    */
    background-color: var(--primary-color);
    z-index: 0;
    padding: 1.5em 2em;
    margin-top: 2em;
}

.headerMenu.active {
    display: var(--display-flex);
    animation: fade-in 1.5s forwards;
}

.headerMenu a {
    color: var(--white-color);
    font-size: 1.6em;
    line-height: 2em;
    text-decoration: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@media (min-width: 1040px) {
    .header {
        display: none;
    }
}
