/* /////// ICON HAMBURGUER ///////// */

.iconHamburguer {
	position: absolute;
	top: 22%;
    right: 0;
	width: 1.3em;
	height: 5em;
	cursor: pointer;
	transform: translate(-50%, -50%);
}

.hamburguer {
	width: 2em;
	height: .25em;
	background-color: var(--white-color);
	position: absolute;
	top: 75%;
	right: 0;
	transform: translate(-50%, -50%);
	box-shadow: 0 2px 5px rgba(0, 0, 0,.2);
	transition: .5s;
}

.hamburguer:before, .hamburguer:after {
	content: "";
	position: absolute;
	width: 2em; 
	height: .25em;
	background-color: var(--white-color);
	box-shadow: 0 2px 5px rgba(0, 0, 0,.2);
	transition: .5s;
} 

.hamburguer:before {
	top: -12px;
}

.hamburguer:after {
	top: 12px;
}

.iconHamburguer.active .hamburguer {
	background-color: rgba(0,0,0,0);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
    
.iconHamburguer.active .hamburguer:before {
	top: 0;
	transform: rotate(45deg);
}

.iconHamburguer.active .hamburguer:after {
	top: 0;
	transform: rotate(135deg);
}