/* ///////////////////////////////////// PORTFOLIO ///////////////////////////////// */

.portfolio {
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 4em 2em;
}

.portfolio-top {
    display: var(--display-flex);
    align-items: baseline;
    margin-bottom: 1.5em;
}

/* .pjt_reais {
    margin-bottom: 40px;
} */

.pjt_reais, .templates-container {
    height: 100%;
    display: var(--display-flex);
    flex-direction: var(--flex-column);
    text-align: center;
}

.pjt_reais a, .templates-container a {
    margin: .4em 0;
}

.portfolio img {
    width: 80%;
    height: 80%;
}
  
.portfolio .pjt_title {
    margin-bottom: .6em;
}

.projetos-flex a img {
    margin: 1.2em 0;
}

@media(min-width: 1040px) {
    .projetos-flex {
        display: var(--display-flex);
        flex-direction: row; 
    }
}