/* /////////////////////////////////////// SOBRE //////////////////////////////////// */

.sobre {
    background-color: var(--white-color);
    padding: 2em;
}

.sobre-container {
    display: var(--display-flex); 
    flex-direction: var(--flex-column);
}

.sobre-top {
    display: var(--display-flex);
    align-items: baseline;
}

.profissao-container {
    line-height: 1em;
    margin-bottom: 2em;
}

.sobre-info-contact {
    display: var(--display-flex);
    flex-direction: var(--flex-column);
    margin-bottom: 1em;
}

.sobre .texto {
    margin-bottom: 1.3em;
}

.sobre-info-contact h3 {
    margin: .1em 0;
}

.maxsuel_img {
    text-align: center;
    margin-top: 1em;
}

.maxsuelfernando {
    width: 50%;
    height: 50%;
}

.containerEndSobre {
    display: var(--display-flex);  
    flex-direction: var(--flex-column);
    align-items: center;
}

@media (min-width: 834px) {
 
    .sobre, .portfolio, .contato {
      padding: 3em;
    }
 
    .texto {
         display: var(--display-flex);
         align-items: center;
         gap: 25px;
    }
 
    .texto p {
         font-size: 1em;
     }
 
    .maxsuelfernando {
         width: 100%;
         height: 100%;
     }
}

@media(min-width: 1040px) {

    .texto p {
        font-size: 1.3em;
    }
}