@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Tilt Neon', sans-serif;
}

h1 {
    font-size: 42px;
    line-height: 35px;
    font-stretch: bold;
    color: #F4F7F6;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -2px;
}

h3 {
    font-size: 20px;
    line-height: 25px;
}

.anim-typewriter {
  display: flex;
  flex-direction: column;
}

p {
    font-size: 16px;
    line-height: 20px;
}

.icon_section, .title_section {
    float: left;
}
.title_section {
  margin-top: 19px;
  margin-bottom: 5px;
}

hr.separador { 
  margin: 25px 0 35px 0;
}

.icon_section {
    margin-right: 16px;
}
.formphp input.nao-aparece, .formphp label.nao-aparece {
    display: none!important;
}
#form-erro span, #form-send span {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    display: block;
}
.text-center {
    text-align: center;
}
hr.separador {
    height: 1px;
    margin: 25px 0 45px;
}
hr.sl {
    background-color: #dc4f49;
}
hr.sb {
    background-color: #F4F7F6;
}
.scroll-downs {
    position: absolute;
    right: 0;
    bottom: 23px;
    left: 0;
    margin: auto;
    width: 25px;
    height: 51px;
}
.mousey {
    position: relative;
    bottom: 0;
    display: block;
    width: 25px;
    height: 37px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #F4F7F6;
    border-radius: 23px;
}
.scroller {
    position: absolute;
    display: block;
    top: 30%;
    left: 55%;
    width: 5px;
    height: 9px;
    margin: 1px 0 0 -3px;
    background: #F4F7F6;
    border-radius: 30%;
    -webkit-animation: scroll-ani 1.5s linear infinite;
    -moz-animation: scroll-ani 1.5s linear infinite;
    animation: scroll-ani 1.5s linear infinite;
}
.content-intro, .intro {
    position: relative;
    text-align: center;
}
@-webkit-keyframes scroll-ani {
    0%, 100% {
    opacity: 1;
    top: 20%}
15%, 50% {
    opacity: 1;
    top: 37%}
}@-moz-keyframes scroll-ani {
    0%, 100% {
    opacity: 1;
    top: 20%}
15%, 50% {
    opacity: 1;
    top: 37%}
}@keyframes scroll-ani {
    0%, 100% {
    opacity: 1;
    top: 20%}
25%, 50% {
    opacity: 1;
    top: 37%}
}

.intro {
    width: 100%;
    height: 100%;
    min-height: 540px;
    background: url(../img/intro/intro-mobile.png) no-repeat fixed;
    background-size: cover;
    overflow-x: hidden;
}   

.portfolio, .skills, .social-logo:hover {
    background-color: #092140;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
    
.content-intro {
    top: 10%;
}

.intro-efect {
    padding-top: 17px;
}

.content-intro h3 {
    color:rgba(255, 255, 255, .75);
    margin: 20px auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter {
    /* animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor .5s steps(44) infinite normal; */
}

@keyframes typewriter {
    from {
    width: 0;
}
to {
    width: 27em;
}
}

@keyframes blinkTextCursor {
    from {
    border-right-color: rgba(255, 255, 255, .75);
}
to { 
    border-right-color: transparent;
}

}.redes-sociais {
    margin-top: 12px;
    margin-bottom: 25px;
}

.social-logo {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    margin: 0 2px;
}

.call-contato {
    font-size: 18px;
    color:rgba(255, 255, 255, .75);
    border: 2px solid #F4F7F6;
    padding: 20px 30px;
}

.call-contato:hover {
    font-weight: 700;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}

.sobre {
    padding: 30px 0;
}

.sobre-container {
    /* padding: 60px 0; */
    display: flex; 
    flex-direction: column;
}   

.maxsuelfernando {
	width: 200px;
	height: 200px;
	padding-top: 20px;
}

.sobre .texto {
    padding-top: 30px;
}
.sobre .h3_bold {
    font-weight: 700;
}
.sobre .texto p {
    padding-bottom: 30px;
}
.skills {
    padding: 60px 0;
}
.skills img.angular {
    padding-left: 200px;
}
.skills img.database {
    padding-right: 200px;
}
.contato, .portfolio, .servicos {
    padding: 60px 0;
}
.servicos img.servico02 {
    margin-top: 10px;
}
.servicos img.servico03 {
    margin-top: 33px;
}
.servicos .text-center h3 {
    margin: 23px 0 13px;
}
.form input, .form textarea {
    width: 92%;
    display: block;
    outline: 0;
    font-size: 23px;
    color: #092140;
    background-color: #F4F7F6;
    border: 2px solid #dc4f49;
}
.portfolio .pjt_title {
    margin-bottom: 45px;
}
.portfolio .text-center .templates {
    margin-top: 45px;
}
.form input {
    padding: 7px 15px;
    margin-bottom: 20px;
}
.form textarea {
    padding: 7px 15px 20px;
    float: right;
}
.contato .button-form {
    text-align: center;
}
.contato button {
    cursor: pointer;
    font-size: 18px;
    color: #dc4f49;
    background-color: #F4F7F6;
    border: 2px solid #dc4f49;
    padding: 12px 60px;
    margin-top: 15px;
}
.contato button:hover {
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}
.footer {
    padding: 15px 0;
    background-color: #092140;
}
.footer img:hover {
    background-color: #dc4f49;
}