@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@500&family=Montserrat&display=swap');

@import url("./inconHamburguer.css");
@import url("./header.css");
@import url("./intro.css");
@import url("./sobre.css");
@import url("./portfolio.css");
@import url("./contato.css");
@import url("./footer.css");
@import url("./curriculo.css");

:root {
    --primary-color: #2E4F4F;
    --secundary-color: #2C3333;
    --terciary-color: #0E8388;
    --fourth-color: #CBE4DE;
    --white-color: #F5F5F5;
    --font-edu: "Edu QLD Beginner";
    --font-montserrat: 'Montserrat', sans-serif;

    --display-flex: flex;
    --flex-column: column;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--secundary-color);
    font-family: var(--font-montserrat);
}

hr.separador {  
    height: .1em;
    margin: 1em 0 2em;
}

hr.separador-pri {  /* refatorar nome da classe */
    background-color: var(--terciary-color);
}

hr.separador-seg {  /* refatorar nome da classe */
    background-color: var(--fourth-color);
}