@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap"); /**
 * Remove anchor text-decoration
 */
a {
  text-decoration: none;
}

/**
 * Remove list-style
 */
ol, ul {
  list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, article, footer, header, nav, section, main, figure {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
  font-size: 1em;
  font-weight: normal;
}

body {
  width: 100%;
  height: 100%;
  background-color: #2C3333;
  font-family: "Tilt Neon", sans-serif;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.2em;
}

hr.separador {
  height: 0.1em;
  margin: 1em 0 2em 0;
}

hr.separador-pri { /* refatorar nome da classe */
  background-color: #0E8388;
}

hr.separador-seg { /* refatorar nome da classe */
  background-color: #CBE4DE;
}

/* /////// ICON HAMBURGUER ///////// */
.iconHamburguer {
  position: absolute;
  top: 22%;
  right: 0;
  width: 1.3em;
  height: 5em;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
.iconHamburguer .hamburguer {
  width: 2em;
  height: 0.25em;
  background-color: #F5F5F5;
  position: absolute;
  top: 75%;
  right: 0;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.iconHamburguer .hamburguer:before, .iconHamburguer .hamburguer:after {
  content: "";
  position: absolute;
  width: 2em;
  height: 0.25em;
  background-color: #F5F5F5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.iconHamburguer .hamburguer:before {
  top: -12px;
}
.iconHamburguer .hamburguer:after {
  top: 12px;
}

.iconHamburguer.active .hamburguer {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
.iconHamburguer.active .hamburguer:before {
  top: 0;
  transform: rotate(45deg);
}
.iconHamburguer.active .hamburguer:after {
  top: 0;
  transform: rotate(135deg);
}

/* /////////////////////////////////////// HEADER //////////////////////////////////// */
.header {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Edu QLD Beginner";
  font-size: 1.1em;
  line-height: 0.8em;
  height: 2.6em;
  color: #F5F5F5;
  background-color: #0E8388;
  padding: 1.2em 0;
  border: 3px solid #000000;
}
.header .headerInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 1.2em;
}
.header .headerMenu {
  display: none;
  flex-direction: column;
  gap: 35px;
  align-items: flex-end;
  /* justify-content: center;    */
  background-color: #2E4F4F;
  z-index: 0;
  padding: 1.5em 2em;
  margin-top: 2em;
}
.header .headerMenu.active {
  display: flex;
  animation: fade-in 1.5s forwards;
}
.header .headerMenu a {
  color: #F5F5F5;
  font-size: 1.6em;
  line-height: 2em;
  text-decoration: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 1040px) {
  .header {
    display: none;
  }
}
/* /////////////////////////////////////// INTRO //////////////////////////////////// */
.intro {
  background-color: #2E4F4F;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #F5F5F5;
  text-align: center;
  /* padding-top: 42%;   */
  margin-top: 0;
}
.intro .intro-container {
  padding-top: 5em;
}
.intro .intro-container h1 {
  font-size: 2.4em;
}
@media (min-width: 834px) {
  .intro .intro-container h1 {
    font-size: 3.8em;
  }
}
@media (min-width: 1040px) {
  .intro .intro-container h1 {
    font-size: 5.4em;
  }
}
.intro .intro-container .intro-funcao {
  margin-top: 1em;
}
.intro .intro-container .intro-funcao h3 {
  font-size: 1.2em;
  line-height: 1.5em;
}
@media (min-width: 834px) {
  .intro .intro-container .intro-funcao h3 {
    font-size: 1.6em;
    line-height: 1.4em;
  }
}
@media (min-width: 1040px) {
  .intro .intro-container .intro-funcao h3 {
    font-size: 2.4em;
  }
}
@media (min-width: 1040px) {
  .intro .intro-container .intro-funcao {
    display: flex;
    justify-content: center;
    margin: 0 0 2em 0;
  }
}
.intro .intro-container .redes-sociais {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 1em 0 4em 0;
}
.intro .intro-container .redes-sociais img {
  width: 36px;
  height: 36px;
}
@media (min-width: 1040px) {
  .intro .intro-container .redes-sociais {
    gap: 14px;
    margin: 1em 0 5em 0;
  }
}
.intro .intro-container .call-contato {
  font-size: 1em;
  font-weight: bold;
  color: #F5F5F5;
  background-color: #0E8388;
  text-decoration: none;
  border: 3px solid #000000;
  border-radius: 34px;
  padding: 1.3em 1.4em;
}

/* /////////////////////////////////////// SOBRE //////////////////////////////////// */
.sobre {
  background-color: #F5F5F5;
  padding: 2em;
}
.sobre .sobre-container {
  display: flex;
  flex-direction: column;
}
.sobre .sobre-container .sobre-top {
  display: flex;
  align-items: baseline;
  margin: 1em 0;
}
.sobre .sobre-container .profissao-container {
  line-height: 1.8em;
  margin-bottom: 1.6em;
}
.sobre .sobre-container .texto {
  margin-bottom: 0.6em;
  line-height: 1.5em;
}
@media (min-width: 834px) {
  .sobre .sobre-container .texto {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 2em;
  }
}
.sobre .sobre-container .texto .maxsuel_img {
  text-align: center;
  margin-top: 2em;
}
.sobre .sobre-container .texto .maxsuel_img .maxsuelfernando {
  width: 50%;
  height: 50%;
}
@media (min-width: 834px) {
  .sobre .sobre-container .texto .maxsuel_img .maxsuelfernando {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 834px) {
  .sobre .sobre-container .texto p {
    font-size: 1em;
  }
}
@media (min-width: 1040px) {
  .sobre .sobre-container .texto p {
    font-size: 1.2em;
  }
}
.sobre .sobre-container .containerEndSobre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sobre .sobre-container .containerEndSobre .sobre-info-contact {
  display: flex;
  flex-direction: column;
}
.sobre .sobre-container .containerEndSobre .sobre-info-contact h3 {
  margin: 0.1em 0;
}

/* ///////////////////////////////////// PORTFOLIO ///////////////////////////////// */
.portfolio {
  color: #F5F5F5;
  background-color: #2E4F4F;
  padding: 2em;
}
.portfolio .portfolio-top {
  display: flex;
  align-items: baseline;
  margin: 1em 0;
}
.portfolio .pjt_reais .pjt_title {
  margin-bottom: 0.6em;
}
.portfolio .pjt_reais, .portfolio .templates-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.portfolio .pjt_reais a, .portfolio .templates-container a {
  margin: 0.4em 0;
}
.portfolio .pjt_reais img, .portfolio .templates-container img {
  width: 80%;
  height: 80%;
  margin: 1.2em 0;
}
@media (min-width: 1040px) {
  .portfolio .pjt_reais .projetos-flex, .portfolio .templates-container .projetos-flex {
    display: flex;
    flex-direction: row;
  }
}

/* /////////////////////////////// CONTATO //////////////////////// */
.contato {
  background-color: #F5F5F5;
  padding: 2em;
}
.contato .contato-top {
  display: flex;
  align-items: baseline;
}
.contato .form input, .contato .form textarea {
  width: 92%;
  display: block;
  outline: 0;
  font-size: 1.5em;
  background-color: #CBE4DE;
  border: 2px solid #2C3333;
}
.contato .button-form {
  text-align: center;
}
.contato button {
  cursor: pointer;
  font-size: 1em;
  color: #0E8388;
  background-color: #CBE4DE;
  border: 2px solid #2C3333;
  border-radius: 16px;
  padding: 1em 4em;
  margin: 1em 0 2em 0;
}
.contato button:hover {
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 1em;
}
.contato h3 {
  margin-top: 1.2em;
  line-height: 1.5em;
}
.contato input, .contato textarea {
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.6em;
}

/* ///////////////////////////////// FOOTER //////////////////////////// */
.footer {
  height: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0E8388;
  padding: 1.2em 0;
}
.footer a img {
  width: 60%;
  height: 60%;
  /* margin-top: .1em; */
}

/* /////////////////////////CURRICULO ///////////////////////////////// */
.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5em;
  background-color: #2E4F4F;
  color: #F5F5F5;
  padding: 7%;
}
.apresentacao .apresentacao__conteudo {
  width: 100%;
  /* height: 482px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.apresentacao .apresentacao__conteudo.apresentacao__conteudo__curriculo {
  gap: 20px;
}
.apresentacao .apresentacao__conteudo .apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  line-height: 40px;
  margin-top: 80px;
  margin-bottom: 20px;
}
@media (min-width: 1040px) {
  .apresentacao .apresentacao__conteudo .apresentacao__conteudo__titulo {
    margin-top: 0;
  }
}
.apresentacao .apresentacao__conteudo .apresentacao__conteudo__texto {
  font-size: 1.5rem;
}
.apresentacao .apresentacao__conteudo .apresentacao__lista {
  display: flex;
  flex-direction: column;
}
.apresentacao .apresentacao__conteudo .apresentacao__lista a {
  text-decoration: none;
  color: #F5F5F5;
}
.apresentacao .apresentacao__conteudo .container__curriculo__lista {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 834px) {
  .apresentacao .apresentacao__conteudo .container__curriculo__lista {
    flex-direction: row;
    gap: 140px;
  }
}
@media (min-width: 1040px) {
  .apresentacao .apresentacao__conteudo .container__curriculo__lista {
    gap: 240px;
  }
}
.apresentacao .habilidades__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 25px;
}
@media (min-width: 834px) {
  .apresentacao .habilidades__container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 200px;
  }
}
@media (min-width: 1040px) {
  .apresentacao .habilidades__container {
    gap: 300px;
  }
}
.apresentacao .descricao__exp__praticaSTI {
  padding-left: 4%;
}/*# sourceMappingURL=style.css.map */