@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Tilt Neon', sans-serif;
}

h1 {
    font-size: 32px;
    line-height: 35px;
    font-stretch: bold;
    color: #F4F7F6;
    margin: 0;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -2px;
}

h3 {
    font-size: 20px;
    line-height: 0px;
}
/* 
.anim-typewriter {
    display: flex;
    flex-direction: column;
} */
  
p {
      font-size: 16px;
      line-height: 27px;
}

hr.separador {  
    height: 1px;
    margin: 20px 0 30px;
}

hr.separador-laranja {  /* refatorar nome da classe */
    background-color: #dc4f49;
}

hr.separador-azul {  /* refatorar nome da classe */
    background-color: #F4F7F6;
}

.portfolio, .social-logo:hover {
    background-color: #092140;
}

.scroll-downs {
    position: absolute;
    right: 0;
    bottom: 23px;
    left: 0;
    margin: auto;
    width: 25px;
    height: 51px;
}
.mousey {
    position: relative;
    bottom: 0;
    display: block;
    width: 25px;
    height: 37px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #F4F7F6;
    border-radius: 23px;
}
.scroller {
    position: absolute;
    display: block;
    top: 30%;
    left: 55%;
    width: 5px;
    height: 9px;
    margin: 1px 0 0 -3px;
    background: #F4F7F6;
    border-radius: 30%;
    -webkit-animation: scroll-ani 1.5s linear infinite;
    -moz-animation: scroll-ani 1.5s linear infinite;
    animation: scroll-ani 1.5s linear infinite;
}

@-webkit-keyframes scroll-ani {
    0%, 100% {
    opacity: 1;
    top: 20%}
15%, 50% {
    opacity: 1;
    top: 37%}
}@-moz-keyframes scroll-ani {
    0%, 100% {
    opacity: 1;
    top: 20%}
15%, 50% {
    opacity: 1;
    top: 37%}
}@keyframes scroll-ani {
    0%, 100% {
    opacity: 1;
    top: 20%}
25%, 50% {
    opacity: 1;
    top: 37%}
}

/*////////////////////////// INTRO //////////////////////////*/

.intro {
    width: 100%;
    height: 100%;
    min-height: 540px;
    background: url(../img/intro/intro.png) no-repeat fixed;
    background-size: cover;
    overflow-x: hidden;
}   

.intro-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-efect {
    padding-top: 12px;
}

.intro-container h3 {
    text-align: center;
    color:rgba(255, 255, 255, .75);
    margin: 24px auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
}

@keyframes blinkTextCursor {
    from {
    border-right-color: rgba(255, 255, 255, .75);
}
to { 
    border-right-color: transparent;
}

}.redes-sociais {
    margin-bottom: 50px;
}

.social-logo {
    border-radius: 50%;
    height: 36px;
        width: 36px;
    margin: 0 2px 20px 2px;
}

.call-contato {
    font-size: 18px;
    color:rgba(255, 255, 255, .75);
    border: 2px solid #F4F7F6;
    padding: 20px 30px;
}

.call-contato:hover {
    font-weight: 700;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}

.icon_section {
    margin-right: 6px;
}

/*////////////////////////// SOBRE //////////////////////////*/

.sobre {
    padding: 30px;
}

.sobre-container {
    display: flex; 
    flex-direction: column;
}

.sobre-top {
    display: flex;
    align-items: baseline;
}

.section_head {
    margin: 24px 0; 
}

.profissao-container {
    line-height: 22px;
    margin-bottom: 36px;
}

.sobre-info-contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.sobre .texto {
    margin-bottom: 20px;
}

.sobre-info-contact h3 {
    margin: 12px 0;
}

/*////////////////////////// PORTFOLIO //////////////////////////*/

.portfolio {
    color: #f4f4f4;
    padding: 30px;
}

.portfolio-top {
    display: flex;
    align-items: baseline;
    margin-bottom: 26px;
}

/* .pjt_reais {
    margin-bottom: 40px;
} */

.pjt_reais, .templates-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pjt_reais a, .templates-container a {
    margin: 8px 0;
}

.portfolio img {
    width: 80%;
    height: 80%;
}
  
.portfolio .pjt_title {
    margin-bottom: 45px;
}

.projetos-flex a img {
    margin: 20px 0;
}

/*////////////////////////// CONTATO //////////////////////////*/

.form input, .form textarea {
    width: 92%;
    display: block;
    outline: 0;
    font-size: 23px;
    color: #092140;
    background-color: #F4F7F6;
    border: 2px solid #dc4f49;
}

.contato {
    padding: 30px;
}

.contato-top {
    display: flex;
    align-items: baseline;
}

.contato .button-form {
    text-align: center;
}
.contato button {
    cursor: pointer;
    font-size: 18px;
    color: #dc4f49;
    background-color: #F4F7F6;
    border: 2px solid #dc4f49;
    border-radius: 16px;
    padding: 12px 60px;
    margin: 15px 0 30px 0;
}
.contato button:hover {
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}

.sc_head h3 {
    margin-top: 20px;
    line-height: 26px;
}

input, textarea {
    padding: 16px;
    margin: 14px 0;
    border-radius: 10px;
}

.footer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #092140;
    padding: 40px 0 20px 0;
}

.footer img {
    margin-top: 25/px;
}

.footer img:hover {
    background-color: #dc4f49;
}

/*////////////////////////// PARA TABLETS //////////////////////////*/

@media (min-width: 834px) {
   h1 {
    font-size: 56px;
    line-height: 40px;
   }

   .intro h3 {
    font-size: 26px;
  }

  .intro-efect {
    margin-top: 16px;
  }

  .sobre, .portfolio, .contato {
    padding: 46px
  }
}

/*////////////////////////// PARA TELAS MAIORES //////////////////////////*/

@media(min-width: 1040px) {
    .intro h1 {
        font-size: 72px;
    }

    .intro h3 {
        font-size: 26px;
        line-height: 6px;
    }

    .intro-efect {
        display: flex;
        margin-top: 8px;
    }

    .projetos-flex {
        display: flex;
        flex-direction: row; 
    }
}