$primary-color: #2E4F4F;
$secundary-color: #2C3333;
$terciary-color: #0E8388;
$fourth-color: #CBE4DE;
$white-color: #F5F5F5;
$font-edu: "Edu QLD Beginner";
$font-montserrat: "Montserrat";
$font-tilt-neon: "Tilt Neon";
$display-flex: flex;
$flex-column: column;
$padding-sessao: 2em;