@import '../abstract/variaveis';

/* ///////////////////////////////// FOOTER //////////////////////////// */

.footer {
    height: 17%;
    display: $display-flex;
    justify-content: center;
    align-items: center;
    background-color: $terciary-color;
    padding: 1.2em 0;
    a {
        img {
            width: 60%;
            height: 60%;
            /* margin-top: .1em; */
            // margin-left: 2em;
            // &:hover {
            //     background-color: $fourth-color;
            // }
        }
    }
}