@import '../abstract/variaveis';

/* /////////////////////////////////////// SOBRE //////////////////////////////////// */

.sobre {
    background-color: $white-color;
    padding: $padding-sessao;
    .sobre-container {
        display: $display-flex; 
        flex-direction: $flex-column;
        .sobre-top {
            display: $display-flex;
            align-items: baseline;
            margin: 1em 0;
        }
        .profissao-container {
            line-height: 1.8em;
            margin-bottom: 1.6em;
        }
        .texto {
            margin-bottom: .6em;
            line-height: 1.5em;
            @media (min-width: 834px) {
                display: $display-flex;
                align-items: center;
                gap: 25px;
                margin-bottom: 2em;
            }
            .maxsuel_img {
                text-align: center;
                margin-top: 2em;
                .maxsuelfernando {
                    width: 50%;
                    height: 50%;
                    @media (min-width: 834px) {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            p {
                @media(min-width: 834px) {
                    font-size: 1em;
                }
                @media(min-width: 1040px) {
                    font-size: 1.2em;
                }                
            }
        }
        .containerEndSobre {
            display: $display-flex;  
            flex-direction: $flex-column;
            align-items: center;
            .sobre-info-contact {
                display: $display-flex;
                flex-direction: $flex-column;
                h3 {
                    margin: .1em 0;
                }                
            }
        }
    }
}